.card__delete-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../..//images/garbage-can-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.5s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
}
