.header__nav {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}

@media (max-width: 982px) {
  .header__nav {
    padding: 10px 30px 0 0;
  }
}

@media (max-width: 565px) {
  .header__nav {
    display: none;
  }
}
